@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");

body {
  margin: 0;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/5d/fa/a2/5dfaa2648b32ce60235049fa7540935d.jpg");
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 25% auto 10%;
  grid-template-areas:
    "header header"
    "sidenav content" 
    "footer footer"
}

#header,
#content,
#sidenav,
#footer,
#main {
  font-family: "Grape Nuts", cursive;
}

#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  font-family: "Grape Nuts", cursive;
}
#footer {
  grid-area: footer;
  font-family: "Grape Nuts", cursive;

}
#sidenav  {
  background-color: blueviolet;
  grid-area: sidenav;
  font-family: "Grape Nuts", cursive;
}
#main {
  font-family: "Grape Nuts", cursive;
  
}

h1 {
  font-family: "Grape Nuts", cursive;
  font-weight: 75px;
}

#header { font-family: "Grape Nuts", cursive;
}


.block {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 10px;
}

.bloconovo {
  background-image: url("https://i.pinimg.com/originals/19/94/a7/1994a72bd207dd1cd1a10ae6b2024513.jpg") ;
  border-radius: 100rem;
  margin: auto;
}
